// colors //
$color_blue:			#195d82;
$color_blue_light:		#ceedff;
$color_gray:			#534f4f;
$color_ice:				#e8eef2;
$color_ice_2:			#a3a4a4;

$black:					#000;
$white:					#fff;

// artefacts, mixins //
%general_shadow {
	box-shadow: 7px 7px 20px 0 rgba(50, 50, 50, 0.32);

	&:hover {
		box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.5);
	}
}

%transform {
	transform: transition;
	transition-duration: 0.5s;
}

%transform1s {
	transform: transition;
	transition-duration: 1s;
}

%transform_05 {
	transition: all 0.5s ease;
}

%transform_07 {
	transition: all 0.7s ease;
}

%transform_1 {
	transition: all 1s ease;
}

%transform_2 {
	transition: all 2s ease;
}

%transform_3 {
	transition: all 3s ease;
}

%transform_4 {
	transition: all 4s ease;
}

%transform_5 {
	transition: all 5s ease;
}

%after-before-bas {
	content: ' ';
	position: absolute;
}

@mixin linear-gradient($from, $to) {
	background: $to;
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to));
	background: -webkit-linear-gradient(top, $from 0%, $to 100%);
	background: -o-linear-gradient(top, $from 0%, $to 100%);
	background: linear-gradient(to bottom, $from 0%, $to 100%);
	filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to});
}

@mixin border-radius($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin transform($transforms) {
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	-o-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin breakpoint($point) {
	@if $point == cero {
		@media (min-width: 0) { @content ; }
	}

	@if $point == mobile {
		@media (min-width: 540px) { @content ; }
	}

	@else if $point == tablet {
		@media (min-width: 768px) { @content ; }
	}

	@else if $point == desktop {
		@media (min-width: 992px) { @content ; }
	}

	@else if $point == extra {
		@media (min-width: 1140px) { @content ; }
	}

	@else if $point == mega {
		@media (min-width: 1400px) { @content ; }
	}
}

// fonts //

@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$fontfamily_1: 'Lato', sans-serif;
$fontfamily_awesome: "Font Awesome 5 Free";

// theme //
.body {
	font-family: $fontfamily_1;
	font-size: 16px;
	line-height: 150%;
}

// text //
.text {
	font-family: $fontfamily_1;
	font-size: 1rem;
	line-height: 150%;

	&.text {
		&--size {
			&--0 {
				&-5 { font-size: 0.5rem; }
				&-7 { font-size: 0.7rem; }
				&-8 { font-size: 0.8rem; }
			}

			&--1 {
				&-2 { font-size: 1.2rem; }
				&-3 { font-size: 1.3rem; }
				&-5 { font-size: 1.5rem; }
			}

			&--2 {
				font-size: 2rem;
				&-5 { font-size: 2.5rem; }
			}
			&--3 { font-size: 3rem; }
			&--4 { font-size: 4rem; }
			&--5 { font-size: 5rem; }
		}

		&--color {
			&--blue { color: $color_blue; }
			&--blue_light { color: $color_blue_light; }
			&--gray { color: $color_gray; }
			&--ice { color: $color_ice; }
			&--ice_2 { color: $color_ice_2; }
			&--black { color: $black; }
			&--white { color: $white; }
		}

		&--w {
			&--light {
				font-weight: 300;
			}

			&--normal {
				font-weight: 400;
			}

			&--bold {
				font-weight: 700;
			}
		}

		&--height {
			&--100 {
				line-height: 100%;
			}

			&--120 {
				line-height: 120%;
			}

			&--150 {
				line-height: 150%;
			}
		}
	}
}

// bg  //

.bg {
	&.bg {
		&--color {
			&--blue {
				background-color: $color_blue;
				&--07 { background-color: rgba($color_blue, 0.7); }
			}
			&--blue_light { background-color: $color_blue_light; }
			&--gray { background-color: $color_gray; }
			&--ice { background-color: $color_ice; }
			&--ice_2 { background-color: $color_ice_2; }
			&--black { background-color: $black; }
			&--white { background-color: $white; }
		}

		&--image {
			background: {
				color: transparent;
				position: center center;
				repeat: no-repeat;
				size: cover;
			}
		}

		&--barra {
			position: relative;

			&::after {
				@extend %after-before-bas;

				top: 1rem;
				left: 0;
				width: 100%;
				height: 15vh;

				@include breakpoint(tablet) { height: 30vh; }

				@include breakpoint(desktop) { height: 55vh; }

				@include breakpoint(extra) { height: 65vh; }
			}

			&--blue {
				&::after { background-color: $color_blue; }
			}

			&--blue_light {
				&::after { background-color: $color_blue_light; }
			}

			&--gray {
				&::after { background-color: $color_gray; }
			}

			&--ice {
				&::after { background-color: $color_ice; }
			}

			&--ice_2 {
				&::after { background-color: $color_ice_2; }
			}
		}
	}
}

// title  //

.title {
	&.title {
		&--section {
			color: $color_blue;
			font-size: 2rem;
			text-transform: uppercase;
		}

		&--sub {
			color: $color_blue;
			font-size: 1.3rem;
		}
	}
}

// image //

.image {
	object-fit: cover;

	&.image {
		&--w { width: 100%; }
		&--h { height: 100%; }
	}
}

// overflow  //

.overflow {
	&--auto {
		overflow: auto;
	}

	&--hidden {
		overflow: hidden;
	}
}

// btn //

.btn {
	@extend %transform_05;

	&.btn {
		&--solid {
			@include border-radius(0);

			border: 0;
			font-weight: 300;

			&--blue {
				background-color: $color_blue;
				color: $white;

				&:hover { background-color: $color_blue_light; }
			}

			&--blue_light {
				background-color: $color_blue_light;
				color: $white;
			}

			&--gray {
				background-color: $color_gray;
				color: $white;
			}

			&--ice {
				background-color: $color_ice;
				color: $color_blue;
			}

			&--ice_2 {
				background-color: $color_ice_2;
				color: $color_blue;
			}

			&--black {
				background-color: $black;
				color: $white;
			}

			&--white {
				background-color: $white;
				color: $black;
			}

			&--border {
				border: 1px solid $white;
			}
		}
	}

	&--link {
		color: initial;
	}
}

// position

.position {
	&.position {
		&--50 {
			transform: translateY(-50%);
			top: 50%;
			left: 0;

			&-50 {
				transform: translate(-50%, -50%);
				left: 50%;
				top: 50%;
			}

			&-00 {
				top: 0;
				transform: translateY(0);
			}
		}

		&--z {
			&-1 { z-index: 1000; }
			&-2 { z-index: 2000; }
			&-3 { z-index: 3000; }
			&-4 { z-index: 4000; }
			&-5 { z-index: 5000; }
		}
	}
}

// c-tabs

.c-tabs {
	.nav {
		.nav {
			&-link {
				font-family: $fontfamily_1;
				color: $color_blue;

				&.active {
					background-color: transparent;
					font-weight: bold;
					color: $color_blue;
				}
			}
		}
	}
}

// slider

.slider {
	&:focus { outline: transparent; }

	&--habitacion {
		padding-top: 3rem;
	}

	.flickity {
		&-viewport {
			overflow: hidden;
			min-height: 230px;

			@include breakpoint(tablet) { min-height: 492px; }

			@include breakpoint(desktop) { min-height: 441px; }

			@include breakpoint(extra) { min-height: 506px; }
		}

		&-button {
			position: absolute;

			&-icon {
				width: 1.5rem;
				fill: $color_blue;
				position: relative;
				top: -2px;
			}
		}

		&-prev {
			&-next {
				&-button {
					top: 0.5rem;
					width: 2rem;
					height: 2rem;
					background: none;
					border: none;

					&.previous { left: 0; }
					&.next { left: 1.5rem; }
				}
			}
		}

		&-fullscreen {
			&-button {
				&-view {
					top: 3rem;
					right: 0;
					padding: 0.3rem 0.7rem;
					background: $color_blue_light;
					border: none;
					.text { display: none; }
				}

				&-exit { display: none; }
			}
		}
	}
}
